.section-body {
    background-color: rgb(8, 34, 68);
    width: 50%;
    height: 600px;
    overflow-y: auto;
    direction: rtl;
}

.row {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    justify-content: left;
    padding-right: 1rem;
}

.row-container{
    display: flex;
    align-items: center;
    color: aliceblue;    
}

.white-row{
    height: 1px;
    width: 100%;
    background-color: aliceblue;
}

.play-button{
    padding: 1rem;
}


.title{
    font-size: 26px;
    padding-left: 0.5rem;
    margin-bottom: 3px;
    color: aliceblue;
    text-align: left;
}

.sub-title{
    font-size: 18px;
    padding-left: 0.5rem;
    margin-top: 0;
    color: aliceblue;
    text-align: left;
}

.img-container {
    width: 40;
    display: flex;
    justify-content: right;
    padding-left: 1rem;
}

.album-img {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0.5rem;   
}

.section-body::-webkit-scrollbar{
    width: 4px;
}

.section-body::-webkit-scrollbar-track{
    background: #f1f1f1;
}

.section-body::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }